*{
  font-family: sans-serif;
margin: 0;
padding: 0;
}
a{
  text-decoration: none;
}
.header{
  background-color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.header ul li a{
  color: white;
  font-size: 22px;
}
.header ul li a:hover{
color: blue;
}
.newsletter{
  background-color: #f5f5f5;
  padding-top: 80px ;
  padding-bottom: 80px;
  text-align: center;
}
.container{
  width: 1140px;
  margin: auto;
}
.newsletter h1{
  font-size: 42px;
  color: #2f323a;
  font-weight: 600;
  margin-bottom: 30px;
}
.newsletter p{
  font-size: 20px;
  margin-bottom:40px ;
  color: #2f323a;
}
.input-1{
  width: 25%;
  padding: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
}
.input-2{
  width: 30%;
  padding: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid black;

}
.input-3{
  width: 12%;
  padding: 18px;
  background-color: black;
  color: white;
  border: none;
  border: 1px solid black;
}
.input-3:hover{
  background-color: blue ;
  
}
.letstalk{
  background-color: #cecece;
  padding-top: 80px ;
  padding-bottom: 100px;
  text-align: center;
}
.letstalk h1{
  padding-bottom: 25px;
}
.letstalk p{color: #2f323a;
padding-bottom: 40px;}

.letstalk .input-1{
  width: 25%;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  margin-right: 20px;
  
}
.letstalk .input-2{
  width: 25%;
  padding: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
}
.letstalk .input-3{
  margin-right: 20px;
  width: 25%;
  padding: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
  color: #1a1717;
  margin-bottom: 20px;
}
.letstalk .input-4{
  width: 25%;
  padding: 18px;
  background-color: transparent;
  border: none;
  border: 1px solid black;
}
h4{
  padding-top: 25px;
  font-size: 12px;
  padding-left: 20px;
  margin-right: 320px;
}
textarea{
  background-color: transparent;
  border: 1px solid black;
  padding: 20px;
}



.message{
  width: 12%;
  padding: 18px;
  background-color: black;
  color: white;
  border: none;
  border: 1px solid black;
  margin-top: 25px;
  margin-right: 580px;  
}
.message:hover{
  background-color: blue ;
  cursor: pointer;
}


.footer{
  background-color: #000;
  width: 100%;
  padding: 40px 0px;
}
.col h5{
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.col .menu ul li a{
  color: #2719df;
  font-size: 16px;
  line-height: 24px;
  
}
.footer-menu{
  display: flex;
  justify-content:space-around ;
}
hr{
  background-color: #cecece;
  height: 1px;
  margin: 40px 0;
}

p{
  color: white;
  text-align: center;
}
.footer-bootom ul li{
  width: 100%;
  display: inline;
  padding: 0 40px;
}
.footer-bootom{
  text-align: center;
  margin: 30px auto;
}
.footer-bootom ul li a{
  color: rgb(30, 33, 223);
  font-size: 20px;
}
.footer-bootom ul li a:hover{
  color: tomato;
  font-size: 23px;
  font-weight: bolder;
}